doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/static/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-social.css')
    link(rel='stylesheet', href='/bootstrap/css/font-awesome.css')
    link(rel='stylesheet', href='/bootstrap/css/signin.css')
  body
    block content