extends layout

block content
  .container
    form.form-signin(name="login",method="post",action="/login")
      h2.form-signin-heading Lounge Chair Football
      if message && message.length
      strong #{message}
      label(for="loginEmail", class="sr-only") Email Address
      input#loginEmail.form-control(type="email", placeholder="Email Address", name="email")
      label(for="loginPassword", class="sr-only") Password
      input#loginPassword.form-control(type="password", placeholder="Password", name="password")
      button#loginSubmit(type="submit", class="btn btn-lg btn-danger btn-block") Sign In
      .socialLogin
        a(class="btn btn-block btn-social btn-facebook")
          i(class="fa fa-facebook")
          | Sign in with Facebook
        a(class="btn btn-social btn-block btn-google-plus", href="/auth/google")
          i(class="fa fa-google-plus")
          | Sign in with Google
  