extends layout

block content
  .container
    .row#menuContainer
      .col-md-1
          h2.menuHeading Menu     
        button(type="button", class="btn btn-primary btn-block btn-lg") 
          span(class="glyphicon glyphicon-cog")
          | League Settings              
        button(type="button", class="btn btn-primary btn-block btn-lg") 
          span(class="glyphicon glyphicon-check")
          | My Picks
        button(type="button", class="btn btn-primary btn-block btn-lg")
          span(class="glyphicon glyphicon-signal")
          | Live Stats
        a(href="/logout", class="btn btn-danger btn-block btn-lg") Logout
  