body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #381e00;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  background-color: #5a3000;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  background-color: #42710c;
  border: 1px solid #609227;
  color: white;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin #loginSubmit{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .socialLogin a {
  text-align: center;
}

.form-signin h2 {
  text-align: center;
  color: white;
}

.form-signin strong {
  color: #d9534f;
}