$primary-white: #ddd;
$google-red: #dd4b39;
$facebook-blue: #3b5998;
$border-rad: 7px;

$brown1: #C8955B; $brown2: #A16A2B; $brown3: #7D490D; $brown4: #5A3000; $brown5: #381E00;
$green1: #87B552; $green2: #609227; $green3: #42710C; $green4: #2B5100; $green5: #1B3300;
$purple1: #5E4588; $purple2: #40256E; $purple3: #291055; $purple4: #1A053D; $purple5: #0F0226;
$blue1: #3D697E; $blue2: #1F4F66; $blue3: #0C394F; $blue4: #022739; $blue5: #011823;
$red1: #C85B5B; $red2: #A12B2B; $red3: #7D0D0D; $red4: #5A0000; $red5: #380000;
html * {
  font-family: Ubuntu;
}
body {
  background-color: $brown5;
  color: $primary-white;
}
.container {
  background-color: $brown4;
  width: 90%;
  border-radius: $border-rad;
}
a,
a:hover { color: $primary-white; }

.login {
  background-color: $brown5;
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: $brown4;
  }
  .branding {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0;
  }
  input[type='text'],
  input[type='password'] {
    background-color: $green3;
    border: 1px solid $green2;
    border-radius: $border-rad;
    height: 50px;
    padding: 0 20px;
    color: $primary-white;
  }
  .social i:before {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px;
  }
  a.button {
    border-radius: $border-rad;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    text-transform: uppercase;
  }
  .social { padding: 10px 0; }
  .google { background-color: $google-red; }
  .facebook {
    background-color: $facebook-blue;
    border-radius: 0 0 $border-rad $border-rad;
  }
}
.menu {
  background-color: $blue5;
  .container {
    background-color: $blue4;
    margin: 0 auto;
  }
  .row > div {
    border-top: 1px solid $blue3;
    padding-top: 10px;
    padding-bottom: 10px;
    &.menu-header {
      text-transform: uppercase;
      font-weight: bold;
      border-top: none;
      background-color: $blue2;
      border-radius: $border-rad $border-rad 0 0;
    }
    &.logout {
      background-color: $red3;
      border-radius: 0 0 $border-rad $border-rad;
    }
    &.selected {
      background-color: $blue3;
    }
  }
  span.count {
    background-color: $blue2;
    border-radius: 15px;
    padding: 0 10px;
  }
  i:before {
    font-size: 20px;
    vertical-align: middle;
  }
}