html * {
  font-family: Ubuntu; }

body {
  background-color: #381e00;
  color: #dddddd; }

.container {
  background-color: #5a3000;
  width: 90%;
  border-radius: 7px; }

a,
a:hover {
  color: #dddddd; }

.login {
  background-color: #381e00; }
  .login .container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #5a3000; }
  .login .branding {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0; }
  .login input[type='text'],
  .login input[type='password'] {
    background-color: #42710c;
    border: 1px solid #609227;
    border-radius: 7px;
    height: 50px;
    padding: 0 20px;
    color: #dddddd; }
  .login .social i:before {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 5px; }
  .login a.button {
    border-radius: 7px;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    text-transform: uppercase; }
  .login .social {
    padding: 10px 0; }
  .login .google {
    background-color: #dd4b39; }
  .login .facebook {
    background-color: #3b5998;
    border-radius: 0 0 7px 7px; }

.menu {
  background-color: #011823; }
  .menu .container {
    background-color: #022739;
    margin: 0 auto; }
  .menu .row > div {
    border-top: 1px solid #0c394f;
    padding-top: 10px;
    padding-bottom: 10px; }
    .menu .row > div.menu-header {
      text-transform: uppercase;
      font-weight: bold;
      border-top: none;
      background-color: #1f4f66;
      border-radius: 7px 7px 0 0; }
    .menu .row > div.logout {
      background-color: #7d0d0d;
      border-radius: 0 0 7px 7px; }
    .menu .row > div.selected {
      background-color: #0c394f; }
  .menu span.count {
    background-color: #1f4f66;
    border-radius: 15px;
    padding: 0 10px; }
  .menu i:before {
    font-size: 20px;
    vertical-align: middle; }
